.header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color:cadetblue;
    color: aliceblue;
    flex-direction: row;
}
.table{
    font-size: 20;
    margin-top: 10px;
    color: azure;
    width: 50%;
    text-align: center;
}
.footer{
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 5px;
    position: sticky;
    bottom: 0;
    width: 200%;
    margin-top: 320px;
    font-size: 20px;


}
    



